app = 'voicenotes-garza'
primary_region = 'den'

[build]

[env]
  PORT = '8080'
  SAVE_TO_FILE = 'true'
  OUTPUT_DIR = '/data/voicenotes'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = 'voicenotes_data'
  destination = '/data'
